@model IEnumerable<ESD.Models.AllUserViewModel>
@{
    ViewData["Title"] = "Index";
    var roles = (List<Microsoft.AspNetCore.Identity.IdentityRole>)ViewData["roles"];
}

<h1>LIST OF USER</h1>
<table id="customers">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Role)
                </td>
                <td>
                    <a asp-controller="AssignRole" asp-action="Edit" asp-route-userId="@item.User.Id">Hi it me le button</a>
                </td>
            </tr>
        }
    </tbody>
</table>